.message-form {
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-top: 20px;
}

label:first-child {
  margin-top: 10px;
}

.message-form input,
textarea {
  font-size: 1.5rem;
  background-color: rgba(7, 1, 36, 0.842);
  color: white;
}

textarea {
  width: 99%;
  resize: none;
}

#sendbutton {
  /* width: 100%; */
  cursor: pointer;
  font: neon;
  background-color: #cf4747;
  opacity: 0.8;
  color: #060c21;
}

@media (min-width: 761px) {
  .message-form {
    width: 700px;
  }
}
